#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h1 Quick Overview
SmartSwitch is a simple library which is used in conjunction with [Felix Dependency Manager](http://felix.apache.org/documentation/subprojects/apache-felix-dependency-manager.html).
It creates proxies which delegate to a default service or to an OSGi service when it becomes available. If the OSGi service disappears, the smart proxy will delegate
to a default service again. This is useful if you want to have the possibility to replace a default component in your
bundle at any time.

For instance suppose, you were using an ExecutorService in your bundle. In most environments, it
uses a default instantiated by your bundle. Now, you have special environment where you want to deploy your bundle,
and, this environment does not allow to create your own ExecutorServices. In this case, you are required to use an
ExecutorService provided by that special environment, but, on all other environments you want to stick with the default.
In such a situation SmartSwitch can help to easily make your bundle work in any circumstance.

$h2 Dependencies
SmartSwitch bundles are available from Maven Central. If you want to use SmartSwitch in your own project, you need to
add following dependency to the POM:

```
<dependency>
    <groupId>ch.sourcepond.commons</groupId>
    <artifactId>smartswitch-lib</artifactId>
    <version>${project.version}</version>
</dependency>
```

Additionally, you need to have [Felix Dependency Manager](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22org.apache.felix.dependencymanager%22)
installed in your OSGi environment on runtime.

Alternatively, there is also a [Karaf](http://karaf.apache.org/) feature available which contains anything necessary on
runtime:

```
<dependency>
    <groupId>ch.sourcepond.commons</groupId>
    <artifactId>smartswitch-feature</artifactId>
    <version>${project.version}</version>
</dependency>
```

$h2 Usage
In order to work with SmartSwitch, you need to instantiate a builder and add service dependencies
to a component. To do so, extend your bundle activator from following class:

```
ch.sourcepond.commons.smartswitch.lib.SmartSwitchActivatorBase
```
After that, use the fluent API to specify a smart-switch:

```
import ch.sourcepond.commons.smartswitch.lib.SmartSwitchActivatorBase;
import java.nio.file.FileSystem;
import java.nio.file.FileSystems;
import java.util.concurrent.Executors;
import java.util.concurrent.ExecutorService;
import org.apache.felix.dm.DependencyManager;
import org.osgi.framework.BundleContext;

import static ch.sourcepond.commons.smartswitch.lib.SmartSwitchBuilder.create;

public class MyActivator extends SmartSwitchActivatorBase {

    @Override
    public void init(final BundleContext bundleContext, final DependencyManager dependencyManager) throws Exception {
        // Import the file-system if available otherwise use the system default
        dependencyManager.add(
                createComponent().add(
                        createSmartSwitchBuilder(FileSystem.class).
                                build(() -> FileSystems.getDefault())
                ));

        // Import the executor with the filter specified if available. If not, use a cached executor service,
        // and, shut it down if an appropriate OSGi service becomes available.
        dependencyManager.add(
                createComponent().add(
                        createSmartSwitchBuilder(ExecutorService.class).
                                setFilter("(name=foo.bar)").
                                setShutdownHook(e -> e.shutdown()).
                                build(() -> Executors.newCachedThreadPool())
                ));
    }
}
```


